venv/*

test_base/.idea/*
.idea/*
.idea/workspace.xml
.idea/PythonForTester.iml
.idea/vcs.xml
test_base/venv/include/
.idea
env/*
*/venv/*
*/venv
venv
test_example_send_email_slack_fw/tests/test_summary.txt
python_testing4everyone_tutorial/logs/